*.gtf
*.info
*.gff
*.TPM
*.avg
*.csv
*.train
*.test
*.dev
*.predictions
*.model
*.pkl
*.npy
*.nb
*.fa
*.fq
*.gz
*.tar
*.tgz
*.sam
*.bam
*.DS_Store
*.jpg
*.png
*.bed
*.gff
*.tmp
*.xlsx
*.zip
*.tsv

*.txt

/data/*